
.home-container {
  padding: 50px 0;
}

.module-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #343a40;
}

.module-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.module-card .card-body {
  padding: 15px;
}

.module-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.module-card .card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.module-card i {
  color: #343a40;
}
